<section id="about">
    @if (isLoading) {
    <app-loading-spinner />
    } @else {
    <ng-container>

        <div class="about">
            <div class="page-heading">
                <h1 class="section-heading">Company Values & History:</h1>
                <app-nav-button link="/products" text="Shop Primal Formulas"
                    iconName="arrow-right" />
            </div>

            @for (about of abouts; track about.id) {

            <div class="about-card">
                <div class="about-info">
                    <h1 class="item-heading">{{ about.title }}:</h1>
                    <p>{{ about.description }}</p>
                    <div class="buttons-grid" *isSuperUser>
                        <!-- <app-about-form text="Update Item" mode="update" [selectedModel]="about" />
                            <app-delete-button text="Delete Item" [id]="about.id" endpoint="about"
                                returnPath="/about" /> -->
                    </div>
                </div>
                <img [src]="about.image" alt="{{ about.title }}" class="about-image">
            </div>

            }
            <!-- <app-about-form text="About Form" mode="create" *isSuperUser /> -->
        </div>
    </ng-container>
    }


</section>