.venv/
.env
../.venv/
.vscode
server/.env
primal-formulas.zip
*.pyc
venv/
./src/app/config
server/service.account.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

src/app/config/supervisord.conf

infrastructure/
server/service.account.json
terraform/.terraform
server/service-account.json
