<section id="account">
    <div class="page-heading">
        <h1 class="section-heading">Account Dashboard:</h1>
        <app-nav-button link="/products" text="Continue Shopping" iconName="bracket-right" />
    </div>


    @if (user) {
    <div class="account-section">
    </div>
    }

    @else {
    <div class="login-section">
        <app-nav-logo [logoHeight]="200" [logoWidth]="200" />
        <h1 class="item-heading">You're not Logged In:</h1>
        <app-login-form text="Login Form" />
    </div>
    }

</section>
