<nav class="navbar {{ isHomePage ? 'navbar-transparent' : '' }}">
    <app-sidebar />
    <div class="nav-list">
        <app-nav-button link="/products" text="Products" iconName="bracket-right" />
        <div class="nav-links">
            <a routerLink="/cart" class="navbar-link">
                <fa-icon [icon]="cartShoppingIcon" class="icon" size="2x"></fa-icon>

            </a>
            <a routerLink="/account" class="navbar-link">
                <fa-icon [icon]="userCircleIcon" class="icon" size="2x"></fa-icon>
            </a>
        </div>
    </div>


</nav>